<div class="row" id="body">
    
    <!-- DATA FROM BACKEND -->
    <!-- only show this when loggedin -->
    {{#if logedIn}}
        {{{body}}}
    {{else}}
        Niet ingelogd
    {{/if}}
</div> <!-- END BODY -->  