<div class="row" id="body">
    
    {{#if message}}
        <div class="col-md-12">
            {{ message }}
        </div>
    {{/if}}
    
    <div class="col-md-12">
        {{{body}}}
    </div>
</div> <!-- END BODY -->  
