<div class="row" id="body">
    
    {{#if loggedIn}}
    <div id="socketToken" style="display: none;">{{socketToken}}</div>
    {{/if}}
    
    {{#if message}}
        <div class="row">
            <div class="col-md-12">
                <div class="message-block">
                    {{ message }}
                </div>
            </div>
        </div>
    {{/if}}
    
    {{{body}}}
</div> <!-- END BODY -->  
