<div class="row" id="footer"> 
    <div class="col-md-4">
        <h4 class="footertext">Adres</h4>
        <p class="footertext">
            Joop's Tour <br>
            Postbus 711 <br>
            6800 AS Arnhem <br>
            NL87INGB0003828305  <br>
            KVK 41049788 <br>
            secretariaat@omejoopstour.nl <br>
        </p>                   
    </div>       
    <div class="col-md-4 col-md-offset-2">
        <h4 class="footertext">Social media</h4>
        <a href="https://twitter.com/omejoopstour" target="_blank">
            <img src="/images/twitter-logo.png" alt="twitter-logo">
        </a>
        <a href="https://www.facebook.com/omejoopstour" target="_blank">
            <img src="/images/facebook-logo.png" alt="facebook-logo">
        </a>
    </div>
</div>

<div class="row copyright">
    <a href="https://avans.nl">Copyright 2016 - Groep J - Avans Hogeschool</a>
</div>
