<div class="row" id="navBar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ome Joop's Tour</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#if (if_ql pageRoute "index")}}
                            <li class="active"><a href="/">Hoofdpagina <span class="sr-only">(current)</span></a></li>
                    {{else}}
                        <li><a href="/">Hoofdpagina <span class="sr-only">(current)</span></a></li>           
                    {{/if}}
                    
                    <!-- only show this when loggedin -->
                    {{#if loggedIn}}                                   
                        <li class="{{#if (if_ql pageRoute "participantInfo")}}active{{/if}}"><a href="/deelnemers/0/gegevens">Mijn kinderen <span class="sr-only">(current)</span></a></li>
                        <li class="{{#if (if_ql pageRoute "ranking")}}active{{/if}}"><a href="/ranglijst">Ranglijst <span class="sr-only">(current)</span></a></li>
                        <li class="{{#if (if_ql pageRoute "messages")}}active{{/if}}"><a href="/berichten">Berichten <!--<span id="msgCount" >{{msgCount}}</span>--><span class="sr-only">(current)</span></a></li>
                    {{/if}}
                
                </ul>
            
                <!-- only show this when loggedin -->
                <ul class="nav navbar-nav navbar-right">                        
                    {{#if loggedIn}}                       
                        <li>
                            <a href="/uitloggen">
                                Uitloggen <span class="sr-only">(current)</span>
                            </a>
                        </li>     
                    {{else}}
                        <li>
                            <a href="/inloggen">
                                Inloggen <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>    
</div> <!-- END NAVBAR -->
