<div class='row'>
        Hoofd index pagina
        
        Denk een algemene pagina met algemene informatie
        Als de gebruiker verder wil moet de gebruiker inloggen om naar de actualiteiten pagina te gaan
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>