<div class='col-md-12'>
    <h3>Welkom op de website van Ome Joops Tour</h3>

    <div class='col-md-6'>
        belangrijke informatie van kind zoals teambegeleider/ranking
    </div>
    
     <div class='col-md-6'>
        notities/nieuwe foto's
    </div>


</div>
