<div class='row col-lg-12'>
    <h3>Hoofdpagina</h3>
    Hoofd index pagina
    
    Denk een algemene pagina met algemene informatie
    Als de gebruiker verder wil moet de gebruiker inloggen om naar de actualiteiten pagina te gaan of welke andere pagina dan ook
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>