<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Inloggen
            </div>
            <div class="panel-body">
                <form action="/inloggen" method="post">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    
                    <div class="form-group {{#if errors.username}}error-block{{/if}}">
                        <label for="username">Gebruikersnaam</label>
                        <input class="form-control" type="text" name="username" placeholder="Gebruikersnaam">
                        
                        <span>{{{ errors.username }}}</span>
                    </div>
                    
                    <div class="form-group {{#if errors.password}}error-block{{/if}}">
                        <label for="password">Wachtwoord</label>
                        <input class="form-control" type="password" name="password" placeholder="Wachtwoord">
                        
                        <span>{{{ errors.password }}}</span>
                    </div>
                    
                    <input type="submit" class="btn btn-default" value="Inloggen">
                </form>
            </div>
        </div>
    </div>
</div>
