/* css mainPage main.hbs */
body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #E8E8E8;
   /* background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}

#header {
    /*padding-top: 125px;*/
}

#header #mainTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: red;
}

#header #subTitle{
    color: red;
}

#body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

#footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C92828;
    color: white;
}

.container {

}

/* navbar css */
.container-fluid {
    background-color: #C92828;
}

.navbar-default {
    background-color: #C92828;
    border-color: #C92828;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
    font-size: 30px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: darkred;
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: darkred;
    color: white;
}
.active {
    color: darkred;
    background-color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: darkred;
    background-color: white;
    border-bottom: 2px solid black;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: darkred;
    background-color: white;
    border-bottom: 2px solid black;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: black;
    border-bottom-color: black;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: black;
    border-bottom-color: black;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: black;
    border-bottom-color: black;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
/* end navbar css */
/* end css main.hbs */

/* css data.hbs */
#medicalTable td, #generalTable td {
    overflow: hidden;
}

/* end css data.hbs

/* css ranking.hbs */
#rankingTable, #teamRankingTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.tableRow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* end css ranking.hbs

/* end css data.hbs */

.error-block {
    color: red;
}

.message-block {
    background: #EEF;
    border: #AAF 1px solid;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 15px;
}
